#details {
    display: flex;
    flex-direction: column;

    min-height: 0;
    height: 100%;
    flex: auto;

    overflow: hidden;

    background-color: var(--level-1);
    border-radius: 10px;
}

#details>* {
    padding: 20px;
}

#detailsTitle {
    background-color: var(--level-2);
    border-bottom: 3px solid var(--color);

    font-size: calc(2 * var(--font-size));
}

#detailsContent {
    height: 100%;
}