#details {
    display: flex;
    flex-direction: column;

    min-height: 0;
    height: 100%;
    flex: auto;

    overflow: hidden;

    background-color: var(--level-1);
    border-radius: 10px;
}

#details>* {
    padding: 20px;
}

#detailsTitle {
    background-color: var(--level-2);
    border-bottom: 3px solid var(--color);

    font-size: calc(2 * var(--font-size));

    user-select: none;
}

#detailsContent {
    height: 100%;

    overflow-y: auto;
}

#details .delete-button {
    position: absolute;
    right: 0;
    top: 0;

    width: var(--font-size);

    transform: rotate(45deg);
}

#addButton {
    flex: none;
    place-self: center;

    width: calc(var(--font-size) * 1.5);
    aspect-ratio: 1;

    padding: 20px;

    background-color: var(--level-2);
    border: 2px solid var(--color);
    border-radius: 20px;
}

/*switch details*/

#switches {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#switches img {
    flex: none;
    place-self: center;

    width: calc(var(--font-size) * 1.5);
}

.dot1x {
    position: relative;
}

.dot1x::after {
    content: "";

    position: absolute;
    right: 0;
    top: 0;

    aspect-ratio: 1;
    width: calc(var(--font-size) * 1.5);
    transform: scale(0.5) translate(20px, -20px);

    background-image: url("/assets/svg/dot1x.svg");
    filter: drop-shadow(0 2px 7px black);
}

.switch {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    border-radius: 10px;
    background-color: var(--level-2);

    position: relative;
}

.switch-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.switchport {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;

    font-size: calc(var(--font-size) * 0.5);
}

.switchport-border {
    border: 2px solid var(--color);
    border-radius: 10px;
}

/*switch details*/

/*raum details*/

#dosen {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-auto-flow: row;

    gap: 20px;

    text-wrap: nowrap;
}

#dosen>#addButton {
    grid-column: span 3;
}

.dose {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-flow: column;
    grid-column: span 3;

    position: relative;

    align-items: center;
    gap: 20px;

    padding: 20px;

    border-radius: 10px;

    background-color: var(--level-2);
}

.dose>*:first-child {
    justify-self: center;
}

.line-full {
    border: 2px solid var(--color);
}

.line-half {
    border: 2px dashed var(--color);
}

.disconnected {
    visibility: none;
}

.dose-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dose-info img {
    flex: none;
    place-self: center;

    width: var(--font-size);
}

/*raum details*/