:root {
    --level-0: black;
    --level-1: rgb(34, 40, 49);
    --level-2: rgb(57, 62, 70);
    --color: rgb(184, 171, 151);
    --font-size: 0.75cm;
}

body {
    box-sizing: border-box;

    margin: 0;

    background-color: var(--level-0);
    font-size: var(--font-size);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color);
}

main {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 20px;

    height: 100vh;
    box-sizing: border-box;
}

.no-scroll {
    max-height: 100vh;
    overflow: hidden;
}

#resizeBar {
    display: flex;
    flex: none;
    align-self: center;

    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

#resizeBar::after {
    content: "";

    flex: none;
    align-self: center;

    height: var(--font-size);

    border: 3px solid var(--color);
    border-radius: 3px;
}

@media screen and (max-aspect-ratio: 1/1) {
    main {
        flex-direction: column !important;
        gap: 20px;

        height: auto;
    }

    #sidebar {
        max-width: unset !important;
        width: auto !important;
    }

    #resizeBar {
        display: none;
    }
}