#modal {
    display: grid;
    place-content: center;

    background-color: rgba(0, 0, 0, 0.5);

    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

#modal #modalLoading {
    font-size: calc(2 * var(--font-size));
}

#modal input:invalid {
    background-color: firebrick;
}

#modal input,
#modal select {
    padding: 10px;

    font-size: inherit;
    color: inherit;

    background-color: var(--level-2);
    border: 2px solid var(--color);
    border-radius: 10px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buttons>* {
    background-color: var(--level-1) !important;
}

#modal>* {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    background-color: var(--level-1);
    border: 2px solid var(--color);
    border-radius: 10px;
}

#dot1x {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#dot1x input {
    width: var(--font-size);
}