#sidebar {
    display: flex;
    flex-direction: column;
    flex: none;

    height: 100%;
    min-height: 0;
    min-width: 10%;
    max-width: 90%;

    overflow: hidden;

    background-color: var(--level-1);
    border-radius: 10px;


    cursor: default;
    user-select: none;
}

#sidebar img {
    flex: none;
    place-self: center;

    width: var(--font-size);
}

#sidebar>* {
    padding: 20px 40px 20px 20px;
}

#sidebarTitle {
    background-color: var(--level-2);
    border-bottom: 3px solid var(--color);

    font-size: calc(2 * var(--font-size));
}

#sidebarContent {
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 100%;
    overflow-y: auto;
}

.schrank,
.raum {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#addMenu {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    border-top: 3px solid var(--color);
}

#addMenu>img {
    flex: none;
    align-self: start;

    width: calc(var(--font-size) * 1.5);
    aspect-ratio: 1;

    padding: 20px;

    background-color: var(--level-2);
    border: 2px solid var(--color);
    border-radius: 20px;
}

#addMenu #options {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: var(--level-2);
    border-radius: 10px;
}

#options .option {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#sidebar .delete-button {
    align-self: center;

    width: var(--font-size);

    transform: rotate(45deg);
}