.tab {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.open>.tab-content {
    display: flex !important;
}

.open>.tab-title>.arrow {
    transform: rotateZ(0deg) !important;
}

.tab-title {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.arrow {
    transform: rotateZ(-90deg);
}

.tab-content {
    display: none;
    flex-direction: column;
    gap: 10px;

    padding-left: calc(var(--font-size) * 2);
}

.tab .delete-button {
    align-self: center;

    width: var(--font-size);

    transform: rotate(45deg);
}